.classpath
.project
.settings/
target/
felix-cache/
.externalToolBuilders/
maven-eclipse.xml
*.iml
*.ipr
*.iws
.idea
log.roo
*.class
*.eml
*.userlibraries
out/
Error_log/
bbcwt.log*
test-output/
.DS_Store
*.log*
ananya-web/src/main/webapp/audio/*
*.wav
