#head()
<body>
    #navbar()
<div class=container-fluid>
    <div class="row-fluid mainbox">
        #sidebar()
        <div class="span10">
            $screen_content
        </div>
    </div>
    #footer()
</div>
</body>