#head()
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">$label.topbar.app.link</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#">$label.topbar.home.link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class=container-fluid>
    <div class="row-fluid mainbox">
        <div class="span10">
            $screen_content
        </div>
    </div>
    #footer()
</div>
</body>