<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="dataImporter" class="org.apache.log4j.RollingFileAppender">
        <param value="logs/importer.log" name="File"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="4096KB"/>
        <param name="maxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] [%p] - %m%n"/>
        </layout>
    </appender>

    <logger name="importer">
        <level value="all"/>
        <appender-ref ref="dataImporter"/>
    </logger>

    <root>
        <priority value="error"/>
    </root>
</log4j:configuration>
