<html>
<title>Ananya Test</title>
<body>

<h3>FLW Recording</h3>
<div>
    <form action="." method="post">
        <label for="msisdn">msisdn:</label>
        <input type="text" name="msisdn" id="msisdn">
        <input type="submit" value="submit">
    </form>
</div>
<div>
    #if(!$waves.isEmpty())
    <audio controls="controls">
        #foreach($wav in $waves)
            <source src="$wav"/>
        #end
    </audio>
    #end
</div>

</body>
</html>