<html>
<head>
    <title>Ananya Test</title>
    <script type="text/javascript" src="${bundle.web.url}js/admin/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="${bundle.web.url}js/admin/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="${bundle.web.url}js/admin/controller.js"></script>
    <link rel="stylesheet" type="text/css" href="${bundle.web.url}css/admin.css" media="screen, projection, print"/>
</head>
<body>
<h2>Ananya Test Admin:</h2>

<div id="flws_div">
    <form id="flw_form" action=".">
    <table id="flws_table">
        <thead class="theader">
        <tr>
            <th>id</th>
            <th>msisdn</th>
            <th>status</th>
            <th>district</th>
            <th>block</th>
            <th>panchayat</th>
            <th>date</th>
            <th></th>
        </tr>
        </thead>
        #foreach($workerPresenter in $workerPresenters)
            <tr>
                <td class="flw_id">$workerPresenter.getId()</td>
                <td>$workerPresenter.getMsisdn()</td>
                <td>$workerPresenter.getStatus()</td>
                <td>$workerPresenter.getDistrict()</td>
                <td>$workerPresenter.getBlock()</td>
                <td>$workerPresenter.getPanchayat()</td>
                <td>$workerPresenter.getRegisteredDate()</td>
                <td><input type="button" value="x" docid="$workerPresenter.getId()" class="flw_delete"/></td>
            </tr>
        #end
    </table>
    </form>
</div>
</body>

</html>