<field name="blockRecord">
    <grammar src="${contextPathWithVersion}grammar/ANANYA_BLOCKS_${district}.grxml" type="application/srgs+xml" fetchhint="safe"/>

    <grammar mode="dtmf" version="1.0" root="root3">
        <rule id="root3" scope="public">
            <one-of>
                <item>1</item>
            </one-of>
        </rule>
    </grammar>

    <noinput>
        <script>
            promptContext.gotNoInput();
        </script>
        <if cond="promptContext.hasExceededMaxNoInputs()">
            <disconnect/>
            <else/>
            <prompt bargein="false">
                <audio expr="controller.playNoInputPrompt(myField)"/>
                <audio expr="controller.playBeep()"/>
            </prompt>
            <goto nextitem="blockRecord"/>
        </if>
    </noinput>
    <nomatch>
        <script>
            promptContext.gotInvalidInput();
        </script>
        <if cond="promptContext.hasExceededMaxInvalidInputs()">
            <disconnect/>
            <else/>
            <prompt bargein="false">
                <audio expr="controller.playNoInputPrompt(myField)"/>
                <audio expr="controller.playBeep()"/>
            </prompt>
            <goto nextitem="blockRecord"/>
        </if>
    </nomatch>
    <filled>
        <assign name="myRecord" expr="blockRecord"/>
        <script>
            promptContext.resetCounts();
        </script>
    </filled>
</field>
