var callerData = {
   "isRegistered" : "${isCallerRegistered}",
   "bookmark" : {
       #if(${bookmark})
           "type" : "${bookmark.type}",
           "chapterIndex" : "${bookmark.chapterIndex}",
           "lessonIndex" : "${bookmark.lessonIndex}"
       #end
   }
};