var callerData = {
   "isRegistered" : "${isCallerRegistered}",
   "bookmark" : ${bookmark},
   "scoresByChapter" : {
       #foreach($entry in $scoresByChapter.entrySet())
        "$entry.key" : "$entry.value",
       #end
   }
};