var callerData = {
   "isRegistered" : "${isCallerRegistered}",
   "bookmark" : ${bookmark},
   "scoresByChapter" : {
       #set($chaptersCount = $scoresByChapter.size())

       #foreach($entry in $scoresByChapter.entrySet())
        "$entry.key" : $entry.value
        #if($foreach.count < $chaptersCount)
            ,
        #end
       #end
   },
   "hasReachedMaxUsageForMonth" : ${hasReachedMaxUsageForMonth}
};