#vxmlHeader()
<script srcexpr="$callerData"/>
<script src="$landingJs"/>
<script>
    <![CDATA[
    var caller = new Caller(callerData);
    var flow = caller.decideFlow();
    ]]>
</script>

<property name="bargein" value="true"/>

<form id="controller">
    <block>
        <prompt>
            <audio src="${bundle.audioFileBase}${bundle.certificate.welcome}"></audio>
        </prompt>
        <goto expr="flow"/>
    </block>
</form>

<form id="registered_bookmark_present">
    <block>
        <goto next="$nextFlow"/>
    </block>
</form>

<form id="registered_bookmark_absent">
    #repeat(
        ["${bundle.audioFileBase}${bundle.certificate.options.for.reg}"],
        $nextFlow)
</form>

<form id="unregistered">
    #repeat([
        "${bundle.audioFileBase}${bundle.certificate.options.for.non.reg}",
        "${bundle.audioFileBase}${bundle.certificate.need.to.register}"],
        "${registerFlow}")
</form>
#vxmlFooter()
