#vxmlHeader()
<script srcexpr="$callerData"/>
<script src="$entryJs"/>
<script src="../../../js/prompt_context.js"/>
<script src="../../../generated/js/metadata.js"/>
<script>
    <![CDATA[
    var controller = new EntryController(callerData);
    var promptContext = new PromptContext(metaData);
    ]]>
</script>

<property name="bargein" value="false"/>

<form id="controller">
    <block>
        <goto expr="controller.decideFlowForCertificateCourse()"/>
    </block>
</form>

<form id="registered_bookmark_present">
    <block>
        <goto next="$nextFlow"/>
    </block>
</form>

<form id="registered_bookmark_absent">
    <block>
            <audio src="${bundle.audio.url}${bundle.certificate.audio.url}${bundle.certificate.welcome}"></audio>
    </block>
    #repeat(
        "${bundle.audio.url}${bundle.certificate.audio.url}${bundle.certificate.options.for.reg}",
        $nextFlow)
</form>

<form id="unregistered">
    <block>
    <audio src="${bundle.audio.url}${bundle.certificate.audio.url}${bundle.certificate.welcome}"></audio>
    #play("${bundle.audio.url}${bundle.certificate.audio.url}${bundle.certificate.need.to.register}")
    </block>
    #repeat("${bundle.audio.url}${bundle.certificate.audio.url}${bundle.certificate.options.for.non.reg}",
        "${registerFlow}")
</form>
#vxmlFooter()
