#vxmlHeader()
<script srcexpr="$callerData"/>
<script src="$entryJs"/>
<script>
    <![CDATA[
    var controller = new EntryController(callerData);
    ]]>
</script>

<form id="controller">
    <block>
        <goto expr="controller.decideFlowForJobAid()"/>
    </block>
</form>

<form id="unregistered">
    <block>
        #play("${contextPathWithVersion}${bundle.audio.vm.url}${bundle.jobaid.audio.url}${bundle.jobaid.welcome}")
        #play("${contextPathWithVersion}${bundle.audio.vm.url}${bundle.jobaid.audio.url}${bundle.jobaid.detail}")
        #play("${contextPathWithVersion}${bundle.audio.vm.url}${bundle.jobaid.audio.url}${bundle.jobaid.need.to.register}")
        <goto next="$registerFlow"/>
    </block>
</form>

<form id="registered">
    <block>
        #play("${contextPathWithVersion}${bundle.audio.vm.url}${bundle.jobaid.audio.url}${bundle.jobaid.welcome}")
        <goto next="$nextFlow"/>
    </block>
</form>
#vxmlFooter()