#vxmlHeader()
<script srcexpr="$callerData"/>
<form id="landing_page">
    <block>
        <if cond="callerData.isRegistered == 'true'">
            <goto next="$nextFlow"/>
            <else/>
            #play($bundle.jobaid.welcome)
            #play($bundle.jobaid.detail)
            #play($bundle.jobaid.need.to.register)
            <goto next="$registerFlow"/>
        </if>
    </block>
</form>
#vxmlFooter()