#vxmlHeader()
<script srcexpr="$callerData"/>
<script src="$landingJs"/>
<script>
    <![CDATA[
    var caller = new Caller(callerData);
    var flow = caller.decideFlow();
    ]]>
</script>

<property name="bargein" value="true"/>

<form id="controller">
    <block>
        <prompt>
            <audio src="$bundle.certificate.welcome"></audio>
        </prompt>
        <goto expr="flow"/>
    </block>
</form>

<form id="registered_bookmark_present">
    <block>
        <goto next="$nextFlow"/>
    </block>
</form>

<form id="registered_bookmark_absent">
    #repeat(
        [$bundle.certificate.options.for.reg],
        $nextFlow)
</form>

<form id="unregistered">
    #repeat([
        $bundle.certificate.options.for.non.reg,
        $bundle.certificate.need.to.register],
        $registerFlow)
</form>
#vxmlFooter()
