#vxmlHeader()
<script src="../caller_status.js"/>
<form id="landing_page">
<block>
<if cond="!callerData.isRegistered">
    <goto next="/vxml/register"/>
</if>
<goto next="$renderingPage"/>
</block>
</form>
#vxmlFooter()