#vxmlHeader()
<script srcexpr="'../dynamic/js/caller_data.js?callerId=' + session.connection.remote.uri"/>
<form id="landing_page">
    <block>
        <if cond="!callerData.isRegistered">
            <goto next="/vxml/$entry/register"/>
        <else/>
            <goto next="$nextFlow"/>
        </if>
    </block>
</form>
#vxmlFooter()