#vxmlHeader()
<form id="register_flw">

    #var("nameNotRecorded","true")
    #var("blockNotRecorded","true")
    #var("districtNotRecorded","true")
    #var("panchayatNotRecorded","true")

    <block>
        #play($bundle.register.jobaid.welcome)
        #play($bundle.register.jobaid.detail)
        #play($bundle.register.jobaid.need.to.register)
    </block>

    #dtmfField("designation",
        $bundle.register.designation.say,
        [1,2,3])

    #record("name",
        $bundle.register.name.say,
        $bundle.register.name.pb,
        $bundle.register.name.noinput,
        $bundle.register.name.repeat)

    #record("district",
        $bundle.register.district.say,
        $bundle.register.district.pb,
        $bundle.register.district.noinput,
        $bundle.register.district.repeat)

    #record("block",
        $bundle.register.block.say,
        $bundle.register.block.pb,
        $bundle.register.block.noinput,
        $bundle.register.block.repeat)

    #record("panchayat",
        $bundle.register.panchayat.say,
        $bundle.register.panchayat.pb,
        $bundle.register.panchayat.noinput,
        $bundle.register.panchayat.repeat)

    <block>
        <data src="$bundle.register.submit.url" enctype="multipart/form-data" method="post"
              namelist="session.connection.local.uri designation name district block village"/>
        #play($bundle.register.complete)
        <goto next="$nextFlow"/>
    </block>
</form>
#vxmlFooter()
