#vxmlHeader()
#var("nameNotRecorded","true")
#var("blockNotRecorded","true")
#var("districtNotRecorded","true")
#var("panchayatNotRecorded","true")
#var("designationNotRecorded","true")
<form id="register_flw">
    #dtmfWithCondition("designation",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.designation.say}",
        $designations)

    #record("name",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.name.say}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.name.pb}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.name.noinput}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.name.repeat}")

    #record("district",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.district.say}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.district.pb}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.district.noinput}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.district.repeat}")

    #record("block",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.block.say}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.block.pb}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.block.noinput}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.block.repeat}")

    #record("panchayat",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.panchayat.say}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.panchayat.pb}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.panchayat.noinput}",
        "${bundle.audio.url}${bundle.register.audio.url}${bundle.register.panchayat.repeat}")

    <block>
        <data src="$bundle.register.submit.url"
              enctype="multipart/form-data"
              method="post"
              namelist="session.connection.remote.uri designation name district block panchayat"/>

        #play("${bundle.audio.url}${bundle.register.audio.url}${bundle.register.complete}")

        <goto next="$nextFlow"/>
    </block>
</form>
#vxmlFooter()
