#vxmlHeader()
<form id="register_flw">
    #formHeader($bundle.flw.registration.welcome)
    #recordMSISDN()
    #record("name",$bundle.flw.registration.say.name,$bundle.flw.registration.confirm.recording,$bundle.flw.registration.no.input.for.name)
    #record("district",$bundle.flw.registration.say.district,$bundle.flw.registration.confirm.recording,$bundle.flw.registration.no.input.for.district)
    #record("block",$bundle.flw.registration.say.block,$bundle.flw.registration.confirm.recording,$bundle.flw.registration.no.input.for.block)
    #record("village",$bundle.flw.registration.say.village,$bundle.flw.registration.confirm.recording,$bundle.flw.registration.no.input.for.village)
    <submit next="$bundle.flw.registration.submit.url" enctype="multipart/form-data"  method="post" namelist="msisdn name district block village"/>
</form>
#vxmlFooter()
