#vxmlHeader()
<menu>
    <property name="inputmodes" value="dtmf"/>
    <prompt>
        For job aid press 1, For certificate course press 2.
    </prompt>
    <choice dtmf="1" next="/jobaid.vxml"/>
    <choice dtmf="2" next="/course.vxml"/>
</menu>
#vxmlFooter()
