
table, tbody {
    font-size: 13px;
    border-spacing: 0px;
}

td, th {
    width: auto;
    text-align: left;
    padding-left: 20px;
    border: 0 none;
}

th {
    text-decoration: underline;
    background-color: #5f9ea0;
}


#flws_table{
    background-color: #dcdcdc;
}

