table.tablesorter thead tr th{
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    color: #333333;
	font-size: 8pt;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
table.tablesorter thead tr th.sort-order-asc {
    background-color: #E9E9E9;
    border-right-color: #DDDDDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    color: #777777;
    background-image: url("../img/asc.gif");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 18px;
}
table.tablesorter thead tr th.sort-order-desc {
    background-color: #E9E9E9;
    border-right-color: #DDDDDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    color: #777777;
    background-image: url("../img/desc.gif");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 18px;
}
table.tablesorter tbody tr {
    color: #333333;
}