<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <util:properties id="ananyaProperties" location="classpath:ananya.properties"/>
    <util:properties id="activemqProperties" location="classpath:activemq.properties"/>
    <util:properties id="couchdbProperties" location="classpath:couchdb.properties"/>

    <context:property-placeholder location="classpath*:*.properties"/>
    <context:spring-configured/>
    <context:annotation-config/>

    <import resource="classpath:applicationContext-seed.xml"/>
    <import resource="classpath:applicationPlatformCommonAPI.xml"/>
</beans>
