#macro(vxmlHeader)
<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/2001/vxml http://www.w3.org/TR/voicexml21/vxml.xsd">
#end

#macro(play $wav)
    <audio src="$wav"/>
#end

#macro(repeat $prompt $flow $grammar)
    <field name="repeat">
        <prompt bargein="false">
            <audio src="$prompt"/>
        </prompt>
        <grammar mode="dtmf" version="1.0" root="$grammar">
            <rule id="$grammar" scope="public">
                <one-of>
                    <item>$bundle.certificate.repeat.option1</item>
                    <item>$bundle.certificate.repeat.option2</item>
                </one-of>
            </rule>
        </grammar>
        <filled>
            <if cond="repeat == '${bundle.certificate.repeat.option1}'">
                <goto next="#controller"/>
                <elseif cond="repeat == '${bundle.certificate.repeat.option2}'"/>
                <goto next="$flow"/>
            </if>
        </filled>
        <noinput>
          <script>
              promptContext.gotNoInput();
          </script>
          <if cond="promptContext.hasExceededMaxNoInputs()">
               <disconnect/>
          <else/>
               <reprompt/>
          </if>
        </noinput>
        <nomatch>
           <script>
               promptContext.gotInvalidInput();
           </script>
           <if cond="promptContext.hasExceededMaxInvalidInputs()">
               <disconnect/>
           <else/>
              <audio src="${contextPathWithVersion}${bundle.audio.vm.url}${bundle.invalid.input.retry.audio}"/>
              <reprompt/>
           </if>
        </nomatch>
    </field>
#end

#macro(vxmlFooter)
</vxml>
#end