<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
                           http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:property-placeholder location="classpath*:*.properties"/>
    <context:annotation-config/>
    <context:spring-configured/>

    <bean id="smsService"
    class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
        <property name="serviceInterface" value="org.motechproject.ananya.webservice.OnMobileSendSMSService"/>
        <property name="wsdlDocumentUrl"
        value="${sms.service.wsdl.url}"/>
        <property name="namespaceUri" value="${sms.service.namespace.uri}"/>
        <property name="serviceName" value="${sms.service.service.name}"/>
        <property name="portName" value="${sms.service.port.name}"/>
        <property name="lookupServiceOnStartup" value="false"/>
    </bean>


    <cache:annotation-driven cache-manager="ananyaCacheManager"/>
    <bean id="defaultAnanyaEhCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"/>
    </bean>
    <bean id="ananyaCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="defaultAnanyaEhCacheManager"/>
    </bean>
    <context:component-scan base-package="org.motechproject.ananya"/>

    <import resource="classpath:applicationContext-hibernate.xml"/>
    <import resource="classpath:applicationContext-transaction.xml"/>
    <import resource="classpath:applicationContext-flw.xml"/>
    <util:properties id="ananyaProperties" location="classpath:/ananya.properties"/>
</beans>