<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <util:properties id="serviceProperties" location="classpath:/services.properties"/>
    <util:properties id="smsProperties" location="classpath:/sms.properties"/>

    <import resource="classpath:applicationPlatformServerAPI.xml"/>

    <bean id="smsService"
          class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
        <property name="serviceInterface" value="org.motechproject.ananya.webservice.OnMobileSendSMSService"/>
        <property name="wsdlDocumentUrl"
                  value="${sms.service.wsdl.url}"/>
        <property name="namespaceUri" value="${sms.service.namespace.uri}"/>
        <property name="serviceName" value="${sms.service.service.name}"/>
        <property name="portName" value="${sms.service.port.name}"/>
        <property name="lookupServiceOnStartup" value="false"/>
    </bean>
</beans>