<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <util:properties id="couchdbProperties" location="classpath:/couchdb.properties"/>
    <util:properties id="ananyaProperties" location="classpath:/ananya.properties"/>
    <util:properties id="activemqProperties" location="classpath:/activemq.properties"/>
    <util:properties id="apiKeys" location="classpath:/apiKeys.properties"/>

    <context:property-placeholder location="classpath*:*.properties"/>
    <context:spring-configured/>
    <context:annotation-config/>

    <import resource="classpath:applicationPlatformServerAPI.xml"/>

    <context:component-scan base-package="org.motechproject.ananya"/>

    <import resource="classpath:applicationContext-Diagnostics.xml"/>
    <import resource="classpath:applicationContext-transaction.xml"/>
    <import resource="classpath:applicationContext-report.xml"/>
    <import resource="classpath:applicationCmsLiteApi.xml"/>
    <import resource="classpath:applicationContext-flw.xml"/>
    <import resource="classpath:applicationContext-services.xml"/>
    <import resource="classpath:applicationContext-tool.xml"/>

    <bean id="ananyaDbInstance" class="org.ektorp.impl.StdCouchDbInstance">
        <constructor-arg>
            <bean id="httpClient" class="org.ektorp.spring.HttpClientFactoryBean"/>
        </constructor-arg>
    </bean>
    <bean id="ananyaDbConnector" class="org.ektorp.impl.StdCouchDbConnector">
        <constructor-arg value="ananya"/>
        <constructor-arg ref="ananyaDbInstance"/>
    </bean>
</beans>
