
$ananyaMonitorResponse.totalCallsJobAid;

$ananyaMonitorResponse.todayCallsJobAid;

$ananyaMonitorResponse.totalCallsCertificateCourse;

$ananyaMonitorResponse.todayCallsCertificateCourse;

$ananyaMonitorResponse.totalSMSCertificateCourse;

$ananyaMonitorResponse.todaySMSCertificateSMS;

$ananyaMonitorResponse.registeredFLWCount;

$ananyaMonitorResponse.partiallyRegisteredFLWCount;

$ananyaMonitorResponse.unregisteredFLWCount;
