<div id="all_monitors">
    <div class="span6">
        <h3>COUCHDB</h3>
        <table id="couchdb-monitor" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Document</th>
                <th>Total Count</th>
            </tr>
            </thead>
            #foreach($entry in $couchdbData.entrySet())
                <tr>
                    <td>$entry.key</td>
                    <td>$entry.value</td>
                </tr>
            #end
        </table>
    </div>

    <div class="span6">
        <h3>POSTGRES STATUS</h3>
        <table id="postgres-monitor" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Document</th>
                <th>Total Count</th>
            </tr>
            </thead>
            #foreach($entry in $postgresData.entrySet())
                <tr>
                    <td>$entry.key</td>
                    <td>$entry.value</td>
                </tr>
            #end
        </table>
    </div>
</div>